 <p class="contribution-title">
    <strong>1,753</strong> contributions in the last year
  </p>
<div class="contribution-card">
 

  <!-- Heatmap -->
  <div class="heatmap-container">
    <app-calendar-heatmap></app-calendar-heatmap>
  </div>

  <div class="contribution-body">
    <!-- Left column -->
    <div class="activity-left">
      <div class="org-buttons">
        <button class="org-btn">&#64;UptimeAI</button>
        <button class="org-btn">&#64;timescale</button>
      </div>

      <h4>Activity overview</h4>

      <p class="activity-text">
        Contributed to
        <span class="repo">
          UptimeAI/uptime_webapp,
          UptimeAI/uptime_server,
          UptimeAI/uptime_ml
        </span>
        and 13 other repositories
      </p>
    </div>

    <!-- Right column -->
    <div class="activity-right">
       <div class="git-graph">

  <!-- Axes -->
  <div class="axis vertical"></div>
  <div class="axis horizontal"></div>

  <!-- Commit flow (left triangle) -->
  <div class="commit-flow"></div>

  <!-- Nodes -->
  <span class="node center"></span>
  <span class="node commit"></span>

  <!-- Labels -->
  <div class="label top">Code review</div>

  <div class="label left">
    <strong>85%</strong><br />
    Commits
  </div>

  <div class="label right">Issues</div>

  <div class="label bottom">
    <strong>17%</strong><br />
    Pull requests
  </div>

</div>
    </div>

   


  </div>
</div>
