
.nav-underline .nav-link {
  color: black; 
  border-bottom: 3px solid transparent; 
  transition: border-color 0.3s;
}

.nav-underline .nav-link:hover {
  border-bottom-color: orange; 
  color: black; 
}

.nav-underline .nav-link.active,
.nav-underline .nav-link[aria-current="page"] {
  border-bottom-color: orange; 
  color: black; 
}

.tabbg {
    background-color: #f6f8fa;
}